---
// Componente About para la sección "About me"
---

<section id="about" class="inner inner-grid-bottom about">
  <div class="inner__wrapper">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-12 col-xl-2">
          <div class="inner__name">
            <div class="content__block name-block">
              <span class="section-name icon-right animate-in-up">
                <span class="section-name-caption">About me</span>
                <i class="ph ph-arrow-down-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8">
          <div class="inner__content">
            <div class="content__block section-text-title">
              <div class="block__descr">
                <h2 class="reveal-type animate-in-up">Approach and<br />philosophy</h2>
              </div>
            </div>
            <div class="content__block grid-block pre-grid-items">
              <div class="container-fluid p-0">
                <div class="row g-0 justify-content-between">
                  <div class="col-12 col-md-8 col-lg-7 col-xxl-8 grid-item about-descr pre-title">
                    <p class="about-descr__text type-basic-160lh animate-in-up">
                      I wonder if I've been changed in the night? Let me think. Was I the same when
                      I got up this morning? I almost think I can remember feeling a little
                      different. But if I'm not the same, the next question is 'Who in the world am
                      I?' Ah, that's the great puzzle!
                    </p>
                    <div class="btn-group about-descr__btnholder animate-in-up">
                      <a
                        class="btn btn-default hover-default"
                        href="/pdf/_David_Verta_RESUME.pdf"
                        target="_blank"
                      >
                        <em></em>
                        <span class="btn-caption">Download CV</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-xxl-3 grid-item about-info pre-title">
                    <div class="about-info__item animate-in-up">
                      <h6>Alex Walker</h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                      <h6>
                        <a class="link-inline text-link" href="tel:+12127089400">+1 212-708-9400</a>
                      </h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                      <h6>
                        <a
                          class="link-inline text-link"
                          href="mailto:example@example.com?subject=Message%20from%20your%20site"
                          >hello@yourdomain.com</a
                        >
                      </h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                      <h6>
                        <a
                          class="link-inline text-link"
                          href="https://maps.app.goo.gl/xMJXTEUeHkv6kYRQ6"
                          target="_blank">Odesa, Ukraine</a
                        >
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content__block grid-block pre-grid-items">
              <div class="container-fluid p-0">
                <div class="row g-0">
                  <div class="col-12 grid-item">
                    <div class="divider divider-image about-image-1 animate-in-up"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content__block grid-block">
              <div class="achievements d-flex flex-column flex-md-row align-items-md-stretch">
                <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                  <div class="achievements__card">
                    <p class="achievements__number animate-in-up">40+</p>
                    <p class="achievements__descr animate-in-up">Happy clients</p>
                  </div>
                </div>
                <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                  <div class="achievements__card">
                    <p class="achievements__number animate-in-up">2+</p>
                    <p class="achievements__descr animate-in-up">Years of experience</p>
                  </div>
                </div>
                <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                  <div class="achievements__card">
                    <p class="achievements__number animate-in-up">50+</p>
                    <p class="achievements__descr animate-in-up">Projects done</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-2"></div>
      </div>
    </div>
  </div>
</section>
