---

---

<div class="achievements d-flex flex-col md:flex-row gap-4 md:gap-8">
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">40+</p>
      <p class="achievements__descr animate-in-up">Happy clients</p>
    </div>
  </div>
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">2+</p>
      <p class="achievements__descr animate-in-up">Years of experience</p>
    </div>
  </div>
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">50+</p>
      <p class="achievements__descr animate-in-up">Projects done</p>
    </div>
  </div>
</div>
