---
// Componente Color Switch para el sitio
---

<div class="color loading__fade flex">
  <button
    id="color-switcher"
    class="color-switcher"
    type="button"
    role="switch"
    aria-label="light/dark mode"
    aria-checked="true"></button>
</div>
