---
// Componente Contact
import SocialLinks from "./SocialLinks.astro";
import socialData from "../data/social.js";
---

<section id="contact" class="contact inner-grid-bottom pb-0">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-12">
      <div class="md:col-span-2">
        <span class="section-name icon-right animate-in-up">
          <span class="section-name-caption">Contact</span>
          <i class="ph ph-arrow-down-right"></i>
        </span>
      </div>
      <div class="md:col-span-8 flex flex-col gap-12 md:gap-24">
        <h2 class="reveal-type animate-in-up">Just say hello!</h2>
        <p class="animate-in-up">
          Want to know more about me, tell me about your project or just to say hello? Drop me a
          line and I'll get back as soon as possible.
        </p>
        <SocialLinks links={socialData} />
      </div>
    </div>
  </div>
</section>
