---
// Componente Contact
---

<section id="contact" class="inner contact inner-grid-bottom no-padding-bottom">
  <div class="inner__wrapper">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-12 col-xl-2">
          <div class="inner__name">
            <div class="content__block name-block">
              <span class="section-name icon-right animate-in-up">
                <span class="section-name-caption">Contact</span>
                <i class="ph ph-arrow-down-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8">
          <div class="inner__content">
            <div class="content__block section-form-title">
              <div class="block__descr">
                <h2 class="reveal-type animate-in-up">Just say hello!</h2>
                <p class="h2__text type-basic-160lh animate-in-up">
                  Want to know more about me, tell me about your project or just to say hello? Drop
                  me a line and I'll get back as soon as possible.
                </p>
              </div>
            </div>
            <div class="content__block grid-block pre-grid-items">
              <div class="form-container">
                <div class="form__reply centered text-center">
                  <i class="ph-thin ph-smiley reply__icon"></i>
                  <p class="reply__title">Done!</p>
                  <span class="reply__text"
                    >Thanks for your message. I'll get back as soon as possible.</span
                  >
                </div>
                <form class="form contact-form" id="contact-form">
                  <input type="hidden" name="project_name" value="David Verta Portfolio" />
                  <input type="hidden" name="admin_email" value="me@deiv.dev" />
                  <input type="hidden" name="form_subject" value="Contact Form Message" />
                  <div class="container-fluid p-0">
                    <div class="row gx-0">
                      <div class="col-12 col-md-6 form__item animate-in-up">
                        <input type="text" name="Name" placeholder="Your name*" required />
                      </div>
                      <div class="col-12 col-md-6 form__item animate-in-up">
                        <input type="text" name="Company" placeholder="Company name" />
                      </div>
                      <div class="col-12 col-md-6 form__item animate-in-up">
                        <input type="email" name="E-mail" placeholder="Email*" required />
                      </div>
                      <div class="col-12 col-md-6 form__item animate-in-up">
                        <input type="tel" name="Phone" placeholder="Phone" />
                      </div>
                      <div class="col-12 form__item animate-in-up">
                        <textarea
                          name="Message"
                          placeholder="A few words about your project*"
                          required></textarea>
                      </div>
                      <div class="col-12 form__item animate-in-up">
                        <button class="btn btn-default hover-default" type="submit">
                          <em></em>
                          <span class="btn-caption">Submit request</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="content__block grid-block">
              <ul class="socials-cards d-flex justify-content-start flex-wrap">
                <li class="socials-cards__item grid-item d-flex animate-card-5">
                  <a
                    class="socials-cards__link d-flex align-items-center justify-content-center"
                    href="https://github.com/deiv-dev"
                    target="_blank"><em></em><i class="ph ph-github-logo"></i></a
                  >
                </li>
                <li class="socials-cards__item grid-item d-flex animate-card-5">
                  <a
                    class="socials-cards__link d-flex align-items-center justify-content-center"
                    href="https://gitlab.com/deiv-dev"
                    target="_blank"><em></em><i class="ph ph-gitlab-logo"></i></a
                  >
                </li>
                <li class="socials-cards__item grid-item d-flex animate-card-5">
                  <a
                    class="socials-cards__link d-flex align-items-center justify-content-center"
                    href="https://linkedin.com/in/deiv-dev"
                    target="_blank"><em></em><i class="ph ph-linkedin-logo"></i></a
                  >
                </li>
                <li class="socials-cards__item grid-item d-flex animate-card-5">
                  <a
                    class="socials-cards__link d-flex align-items-center justify-content-center"
                    href="mailto:me@deiv.dev"
                    target="_blank"><em></em><i class="ph ph-envelope"></i></a
                  >
                </li>
              </ul>
            </div>
            <footer class="footer">
              <div class="container-fluid p-0">
                <div class="row g-0">
                  <div class="col-12">
                    <div class="content__block pre-grid-items">
                      <div
                        class="footer__link d-flex flex-column flex-md-row justify-content-md-between align-items-md-center"
                      >
                        <div class="footer__text reveal-type animate-in-up">
                          Got an idea?<br />Tell me!
                        </div>
                        <div class="footer__btn animate-in-up">
                          <a
                            href="mailto:me@deiv.dev?subject=Message%20from%20your%20site"
                            class="btn btn-circle-icon hover-circle"
                            ><em></em><i class="ph-light ph-arrow-right"></i></a
                          >
                        </div>
                      </div>
                      <div class="footer__divider animate-in-up"></div>
                    </div>
                    <div class="content__block grid-block">
                      <div class="container-fluid p-0 contact-data">
                        <div class="row g-0">
                          <div class="col-12 col-lg-3 contact-data__item grid-item">
                            <a href="#home" class="footer-logo logo-text animate-in-up">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.1"
                                viewBox="0 0 200 200"
                                fill="currentColor"
                              >
                                <!-- Generator: Adobe Illustrator 29.4.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 152)  -->
                                <g>
                                  <rect x="55.02" y="116.97" width="18.48" height="18.47"></rect>
                                  <path
                                    d="M138.33,80.89c-3.16-5.41-7.66-9.71-13.38-12.79-5.67-3.05-12.4-4.6-20.02-4.6h-24.36s.04,71.94.04,71.94l24.33-.02c7.63,0,14.38-1.56,20.05-4.62,5.72-3.09,10.21-7.41,13.37-12.86,3.14-5.43,4.73-11.67,4.73-18.55,0-6.89-1.6-13.11-4.75-18.5ZM105.29,80.62c3.92,0,7.32.77,10.1,2.29,2.78,1.52,4.88,3.61,6.43,6.38,1.55,2.79,2.34,6.18,2.34,10.1,0,3.86-.78,7.25-2.33,10.07-1.55,2.81-3.65,4.93-6.43,6.48-2.78,1.55-6.18,2.34-10.1,2.34h-5.76s-.02-37.67-.02-37.67h5.76s.01,0,.02,0Z"
                                  ></path>
                                </g>
                                <path
                                  d="M52.68,169.75c-9.15,0-16.16-2.21-21.04-6.64-4.88-4.43-7.31-10.61-7.31-18.55v-25.64c0-2.61-.63-4.62-1.88-6.03-1.26-1.41-3.04-2.11-5.35-2.11h-4.83v-19.61h4.83c2.31,0,4.1-.73,5.35-2.19,1.26-1.46,1.88-3.44,1.88-5.96v-27.6c0-7.94,2.44-14.13,7.31-18.55,4.88-4.42,11.89-6.64,21.04-6.64h7.54v19.61h-7.54c-1.81,0-3.22.53-4.22,1.58-1.01,1.06-1.51,2.59-1.51,4.6v24.88c0,4.32-.83,8.2-2.49,11.61-1.66,3.42-4,6.13-7.01,8.14,3.02,1.71,5.35,4.2,7.01,7.47,1.66,3.27,2.49,6.96,2.49,11.09v24.73c0,1.91.5,3.42,1.51,4.52,1,1.11,2.41,1.66,4.22,1.66h7.54v19.61h-7.54Z"
                                ></path>
                                <path
                                  d="M139.78,169.75v-19.61h7.54c1.81,0,3.22-.55,4.22-1.66,1-1.11,1.51-2.62,1.51-4.52v-24.73c0-4.12.83-7.82,2.49-11.09,1.66-3.27,4-5.75,7.01-7.47-3.02-2.01-5.35-4.72-7.01-8.14-1.66-3.42-2.49-7.29-2.49-11.61v-24.88c0-2.01-.5-3.54-1.51-4.6-1.01-1.06-2.41-1.58-4.22-1.58h-7.54v-19.61h7.54c9.15,0,16.16,2.21,21.04,6.64,4.88,4.43,7.32,10.61,7.32,18.55v27.6c0,2.51.65,4.5,1.96,5.96,1.31,1.46,3.07,2.19,5.28,2.19h4.83v19.61h-4.83c-2.21,0-3.97.7-5.28,2.11-1.31,1.41-1.96,3.42-1.96,6.03v25.64c0,7.94-2.44,14.13-7.32,18.55-4.88,4.42-11.89,6.64-21.04,6.64h-7.54Z"
                                ></path>
                              </svg>
                              <span>.Deiv</span>
                            </a>
                          </div>
                          <div class="col-12 col-md-4 col-lg-3 contact-data__item grid-item">
                            <p class="contact-data__title tagline-chapter animate-in-up">
                              Location
                            </p>
                            <p class="contact-data__text small type-basic-160lh">
                              <a class="link-small-160lh animate-in-up" href="#" target="_blank"
                                >Buenos Aires, Argentina</a
                              >
                            </p>
                          </div>
                          <div class="col-12 col-md-4 col-lg-3 contact-data__item grid-item">
                            <p class="contact-data__title tagline-chapter animate-in-up">Phone</p>
                            <p class="contact-data__text small type-basic-160lh">
                              <a class="link-small-160lh animate-in-up" href="tel:+5491112345678"
                                >+54 9 11 3574-5491</a
                              >
                            </p>
                          </div>
                          <div class="col-12 col-md-4 col-lg-3 contact-data__item grid-item">
                            <p class="contact-data__title tagline-chapter animate-in-up">Email</p>
                            <p class="contact-data__text small type-basic-160lh">
                              <a
                                class="link-small-160lh animate-in-up"
                                href="mailto:me@deiv.dev?subject=Message%20from%20your%20site"
                                >me@deiv.dev</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-12 col-xl-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
