---
import LogoFooter from "@/components/LogoFooter.astro";
---

<footer class="footer pt-32 pb-16 fixed bottom-0 z-0 w-full">
  <div class="container">
    <div class="flex gap-4 py-12">
      <div class="grid md:grid-cols-4 gap-4 flex-1">
        <div class="contact-data__item flex flex-col md:justify-start">
          <a href="#home" class="footer-logo logo-text animate-in-up">
            <LogoFooter />
            <span>.Deiv</span>
          </a>
        </div>
        <div class="contact-data__item flex flex-col justify-start">
          <p class="contact-data__title tagline-chapter animate-in-up">Location</p>
          <p class="contact-data__text small type-basic-160lh">
            <a class="link-small-160lh animate-in-up" href="#" target="_blank"
              >Buenos Aires, Argentina</a
            >
          </p>
        </div>
        <div class="contact-data__item flex flex-col justify-start">
          <p class="contact-data__title tagline-chapter animate-in-up">Phone</p>
          <p class="contact-data__text small type-basic-160lh">
            <a class="link-small-160lh animate-in-up" href="tel:+5491135745491"
              >+54 9 11 3574-5491</a
            >
          </p>
        </div>
        <div class="contact-data__item flex flex-col justify-start">
          <p class="contact-data__title tagline-chapter animate-in-up">Email</p>
          <p class="contact-data__text small type-basic-160lh">
            <a
              class="link-small-160lh animate-in-up"
              href="mailto:me@deiv.dev?subject=Message%20from%20your%20site">me@deiv.dev</a
            >
          </p>
        </div>
      </div>

      <!-- To Top Button Start -->
      <div class="flex flex-col justify-end md:justify-start">
        <a href="#0" id="to-top" class="btn btn-to-top slide-up p-4 rounded-xl">
          <i class="ph ph-arrow-up"></i>
        </a>
      </div>
      <!-- To Top Button End -->
    </div>
  </div>
</footer>
