---
// Componente Loader para el sitio
---

<div id="loader" class="loader">
  <div class="loader__wrapper">
    <div class="loader__content flex justify-center items-center">
      <div class="loader__count w-full flex gap-8 justify-center items-center">
        <span class="count__text text-right flex-1">0</span>
        <span class="count__percent text-left flex-1">%</span>
      </div>
    </div>
  </div>
</div>
