---
// Componente Logo fijo para el sitio
---

<div class="logo loading__fade">
  <a href="#home" class="logo__link">
    <!-- logo icon -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" fill="currentColor">
      <g>
        <path d="M56.5,132.92v-13.47h13.47v13.47h-13.47Z"></path>
        <path
          d="M75.1,132.92v-66.92h21.83c7.25,0,13.53,1.44,18.86,4.31,5.33,2.87,9.46,6.83,12.4,11.86,2.93,5.03,4.4,10.78,4.4,17.25s-1.47,12.23-4.4,17.29c-2.93,5.06-7.07,9.03-12.4,11.9-5.33,2.87-11.62,4.31-18.86,4.31h-21.83ZM89.02,120.8h8.26c4.37,0,8.14-.88,11.32-2.65,3.17-1.77,5.64-4.25,7.41-7.46,1.77-3.2,2.65-6.96,2.65-11.27s-.88-8.14-2.65-11.32c-1.77-3.17-4.24-5.63-7.41-7.37-3.17-1.74-6.95-2.6-11.32-2.6h-8.26v42.67Z"
        ></path>
      </g>
      <path
        d="M52.68,169.75c-9.15,0-16.16-2.21-21.04-6.64-4.88-4.43-7.31-10.61-7.31-18.55v-25.64c0-2.61-.63-4.62-1.88-6.03-1.26-1.41-3.04-2.11-5.35-2.11h-4.83v-19.61h4.83c2.31,0,4.1-.73,5.35-2.19,1.26-1.46,1.88-3.44,1.88-5.96v-27.6c0-7.94,2.44-14.13,7.31-18.55,4.88-4.42,11.89-6.64,21.04-6.64h7.54v19.61h-7.54c-1.81,0-3.22.53-4.22,1.58-1.01,1.06-1.51,2.59-1.51,4.6v24.88c0,4.32-.83,8.2-2.49,11.61-1.66,3.42-4,6.13-7.01,8.14,3.02,1.71,5.35,4.2,7.01,7.47,1.66,3.27,2.49,6.96,2.49,11.09v24.73c0,1.91.5,3.42,1.51,4.52,1,1.11,2.41,1.66,4.22,1.66h7.54v19.61h-7.54Z"
      ></path>
      <path
        d="M139.78,169.75v-19.61h7.54c1.81,0,3.22-.55,4.22-1.66,1-1.11,1.51-2.62,1.51-4.52v-24.73c0-4.12.83-7.82,2.49-11.09,1.66-3.27,4-5.75,7.01-7.47-3.02-2.01-5.35-4.72-7.01-8.14-1.66-3.42-2.49-7.29-2.49-11.61v-24.88c0-2.01-.5-3.54-1.51-4.6-1.01-1.06-2.41-1.58-4.22-1.58h-7.54v-19.61h7.54c9.15,0,16.16,2.21,21.04,6.64,4.88,4.43,7.32,10.61,7.32,18.55v27.6c0,2.51.65,4.5,1.96,5.96,1.31,1.46,3.07,2.19,5.28,2.19h4.83v19.61h-4.83c-2.21,0-3.97.7-5.28,2.11-1.31,1.41-1.96,3.42-1.96,6.03v25.64c0,7.94-2.44,14.13-7.32,18.55-4.88,4.42-11.89,6.64-21.04,6.64h-7.54Z"
      ></path>
    </svg>
  </a>
</div>
