---
// Componente Portfolio para la sección de portfolio
---

<!-- Inner Section - Portfolio - Start -->
<section id="portfolio" class="inner inner-stack-bottom no-padding-top portfolio">
  <div class="inner__wrapper">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <!-- Inner Section Content Start -->
        <div class="col-12">
          <div class="inner__content">
            <!-- Content Block - Portfolio Stacking Cards Start -->
            <div class="content__block">
              <div class="stack-wrapper">
                <div class="stack-offset solid-block"></div>
                <div class="portfolio-stack">
                  <!-- portfolio stack single item -->
                  <div class="stack-item">
                    <div
                      data-mfp-src="#portfolio-popup-1"
                      class="portfolio-stack__inner portfolio-item-1 popup-trigger"
                    >
                      <div class="portfolio-stack__descr">
                        <h3 class="portfolio-stack__title dark">Blayden portfolio template</h3>
                        <p class="portfolio-stack__text type-basic-160lh dark">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores,
                          nesciunt.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- portfolio stack single item -->
                  <div class="stack-item">
                    <div
                      data-mfp-src="#portfolio-popup-2"
                      class="portfolio-stack__inner portfolio-item-2 popup-trigger"
                    >
                      <div class="portfolio-stack__descr">
                        <h3 class="portfolio-stack__title light">Anime style fantasy scenes</h3>
                        <p class="portfolio-stack__text type-basic-160lh light">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores,
                          nesciunt.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- portfolio stack single item -->
                  <div class="stack-item">
                    <div
                      data-mfp-src="#portfolio-popup-3"
                      class="portfolio-stack__inner portfolio-item-3 popup-trigger"
                    >
                      <div class="portfolio-stack__descr">
                        <h3 class="portfolio-stack__title dark">PX101 flexible speaker</h3>
                        <p class="portfolio-stack__text type-basic-160lh dark">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores,
                          nesciunt.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- portfolio stack single item -->
                  <div class="stack-item">
                    <div
                      data-mfp-src="#portfolio-popup-4"
                      class="portfolio-stack__inner portfolio-item-4 popup-trigger"
                    >
                      <div class="portfolio-stack__descr">
                        <h3 class="portfolio-stack__title light">Reflection AI project</h3>
                        <p class="portfolio-stack__text type-basic-160lh light">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores,
                          nesciunt.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content Block - Portfolio Stacking Cards End -->
          </div>
        </div>
        <!-- Inner Section Content End -->
        <!-- Aquí irían los popups de portfolio (portfolio-popup-1, 2, 3, 4) -->
      </div>
    </div>
  </div>
</section>
<!-- Inner Section - Portfolio - End -->

