---
import { portfolio } from "@/data/site.js";
// Componente Portfolio para la sección de portfolio
---

<!-- Inner Section - Portfolio - Start -->
<section id="portfolio" class="portfolio overflow-x-hidden">
  <div class="container">
    <!-- Content Block - Portfolio Stacking Cards Start -->

    <div class="stack-wrapper">
      <div class="stack-offset solid-block"></div>
      <div class="portfolio-stack">
        {
          portfolio.map((project, index) => (
            <div class="stack-item">
              <a
                href={`/portfolio/${project.slug}`}
                class={`portfolio-stack__inner portfolio-item-${index + 1} popup-trigger`}
              >
                <div class="portfolio-stack__descr">
                  <h3 class={`portfolio-stack__title ${index % 2 === 0 ? "dark" : "light"}`}>
                    {project.title}
                  </h3>
                  <p
                    class={`portfolio-stack__text type-basic-160lh ${index % 2 === 0 ? "dark" : "light"}`}
                  >
                    {project.description.substring(0, 100)}...
                  </p>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <!-- Content Block - Portfolio Stacking Cards End -->
  </div>
</section>
<!-- Inner Section - Portfolio - End -->
