---
// Componente Services
import { Image } from "astro:assets";
import ME1vbM1gADIv from "@/assets/images/ME1vbM1gADIv.webp";
import qlq4K7e8e6MK from "@/assets/images/qlq4K7e8e6MK.webp";
import fb5kXWj157qL from "@/assets/images/fb5kXWj157qL.webp";
import PiURthOLcyQ6 from "@/assets/images/PiURthOLcyQ6.webp";
---

<section id="services" class="inner inner-grid-bottom services">
  <div class="inner__wrapper">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-12 col-xl-2">
          <div class="inner__name">
            <div class="content__block name-block">
              <span class="section-name icon-right animate-in-up">
                <span class="section-name-caption">Services</span>
                <i class="ph ph-arrow-down-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8">
          <div class="inner__content">
            <div class="content__block section-grid-title">
              <div class="block__descr">
                <h2 class="reveal-type animate-in-up">Creating<br />impactful projects</h2>
              </div>
            </div>
            <div class="content__block grid-block">
              <div class="container-fluid p-0">
                <div class="row g-0 align-items-stretch cards">
                  <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                      <div class="cards__descr">
                        <h3 class="cards__title animate-in-up">Frontend<br />development</h3>
                        <p class="cards__text type-basic-160lh animate-in-up">
                          I work with HTML/CSS, Framer and WordPress.
                        </p>
                      </div>
                      <div class="cards__image d-flex animate-in-up">
                        <Image src={ME1vbM1gADIv} alt="Service/Feature Image" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                      <div class="cards__descr">
                        <h3 class="cards__title animate-in-up">Graphic<br />design</h3>
                        <p class="cards__text type-basic-160lh animate-in-up">
                          I use Adobe Fresco and Blender to create illustrations and 3D renders.
                        </p>
                      </div>
                      <div class="cards__image d-flex animate-in-up">
                        <Image src={qlq4K7e8e6MK} alt="Service/Feature Image" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                      <div class="cards__descr">
                        <h3 class="cards__title animate-in-up">Brand<br />identity</h3>
                        <p class="cards__text type-basic-160lh animate-in-up">
                          I help my clients to develop a personality and brand voice, design the
                          brand look and logo.
                        </p>
                      </div>
                      <div class="cards__image d-flex animate-in-up">
                        <Image src={fb5kXWj157qL} alt="Service/Feature Image" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                      <div class="cards__descr">
                        <h3 class="cards__title animate-in-up">Digital<br />marketing</h3>
                        <p class="cards__text type-basic-160lh animate-in-up">
                          Social media content plans, media monitoring, email and text messaging and
                          search engine optimization.
                        </p>
                      </div>
                      <div class="cards__image d-flex animate-in-up">
                        <Image src={PiURthOLcyQ6} alt="Service/Feature Image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-2"></div>
      </div>
    </div>
  </div>
</section>
