---
// Componente Services
import { Image } from "astro:assets";
import { services } from "@/data/site.js";
---

<section id="services" class='services"'>
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-12">
      <div class="md:col-span-2">
        <span class="section-name icon-right animate-in-up">
          <span class="section-name-caption py-8">Services</span>
          <i class="ph ph-arrow-down-right"></i>
        </span>
      </div>

      <!-- Contenido principal -->
      <div class="md:col-span-8 flex flex-col gap-12 md:gap-36">
        <!-- Título de la sección -->

        <h2 class="reveal-type animate-in-up">My Dev's force</h2>
        <p class="animate-in-up"></p>

        <!-- Grid de servicios -->

        <div class="grid grid-cols-1 md:grid-cols-2 gap-24">
          {
            services.map((service, index) => (
              <div class="cards__item animate-card-2">
                <div class="cards__card flex flex-col ">
                  <div class="p-12 grow">
                    <h4 class="cards__title animate-in-up" set:html={service.title} />
                    <p class="cards__text animate-in-up">{service.description}</p>
                  </div>
                  <div class="rounded-t-4xl overflow-hidden flex animate-in-up">
                    <div class="w-full min-h-[18.75rem] max-h-72">
                      <Image
                        width={400}
                        height={300}
                        src={service.image}
                        alt={service.alt}
                        class="w-full h-full min-h-[18.75rem] max-h-72 object-cover"
                      />
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
