---
export interface SocialLink {
  href: string;
  label: string;
  icon: string; // Clase del ícono de Phosphor (ej: "ph ph-github-logo")
}
export interface Props {
  links: SocialLink[];
}
const { links = [] } = Astro.props;
---

<ul class="socials-cards flex justify-center flex-wrap gap-8">
  {
    links.map((link) => (
      <li class="flex-1 max-w-1/4 aspect-square rounded-4xl  flex ">
        <a
          class="socials-cards__link flex items-center justify-center aspect-square"
          href={link.href}
          target="_blank"
          rel="noopener"
          aria-label={link.label}
        >
          <em class="sr-only" />
          <i class={`${link.icon} ph`} />
        </a>
      </li>
    ))
  }
</ul>
