---
import GlobalExtras from "@/components/GlobalExtras.astro";

import "@/assets/css/gzZxm81Wgesz.css";
import "@/assets/css/0yrIJCZhE6JL.css";
import "@/assets/css/y1Vk5NM9P09h.css";
import "@/styles/global.css";
import ogImage from "@/assets/images/TsS2fDCd8e5S.jpg";

const { title = "{ .Deiv }", children } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content=".Deiv - Fullstack Developer" />
    <meta
      name="keywords"
      content="mix_design, resume, portfolio, personal page, cv, template, one page, responsive, html5, css3, creative, clean"
    />
    <meta name="author" content="mix_design" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-192x192.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:title" content=".Deiv" />
    <meta property="og:description" content="Deiv.dev" />
    <meta property="og:url" content="https://deiv.dev" />
    <meta property="og:image" content={ogImage.src} />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#BABEC8" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#141414" />
    <meta name="msapplication-navbutton-color" content="#141414" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <GlobalExtras />
    <!-- Librerías base (jQuery, Modernizr, etc.) -->
    <script src="/js/aKYW7MQ14znL.js" is:inline></script>
    <script src="/js/dXrkiP81tqAv.js" is:inline></script>
    <script src="../assets/js/OqEwGEPANs5k.js"></script>
  </body>
</html>
